*{
    font-family: 'Montserrat';
}
body{
    background-color: #FFFAFA;
}

.login-form{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 560px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 0;
}

.login__title{
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 28px;
}

.login__logo{
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

.login__logo img{
    width: 100%;
}

.login-input{
    margin-top: 80px;
    border: none;
    border-bottom: 1px solid rgba(107, 80, 217, 0.9);
    width: 200px;
    outline: none;
}

.psw-login{
    border: none;
    margin-top: 30px;
    border-bottom: 1px solid rgba(107, 80, 217, 0.9);
    width: 200px;
    outline: none;
}

.login__btn{
    display: block;
    margin-top: 80px;
    border: none;
    width: 200px;
    height: 50px;
    background-color:  rgba(107, 80, 217, 0.8);
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.wrong-input,
.warning-message{
    color: red;
    margin-top: 5px;
    font-size: 15px;
    transition: 0.8s all;
}

.login__new-account{
    position: absolute;
    bottom: 10px;
}

.sign-up{
    text-decoration: none;

}

/* Registration block*/
.registration-form{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 560px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 0;
}

.registration__title{
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 28px;
}

.registration__logo{
    width: 50px;
    height: 50px;
}

.registration__logo img{
    width: 100%;
}

.registration-name,
.registration-login,
.registration-psw {
    margin-top: 25px;
    border: none;
    border-bottom: 1px solid rgba(107, 80, 217, 0.9);
    width: 200px;
    outline: none;
}

.registration-name{
    margin-top: 50px;
}

.registration__btn{
    display: block;
    margin-top: 70px;
    border: none;
    width: 200px;
    height: 50px;
    background-color:  rgba(107, 80, 217, 0.8);
    color: white;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.registration__new-account{
    position: absolute;
    bottom: 10px;
}

.deactivate{
    display: none;
}

.account-header{
    position: relative;
    padding: 0px 20px 0px 20px;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: rgb(64,64,64);
}

.account-logo{
    height: 40px;
    width: 40px;
    
}

.account-logo img{
    width: 100%;
    filter: grayscale(100%) brightness(2000%);
}

.account-greeting{
    color: #FFFAFA;
    margin-left: 15px;
    font-size: 18px;
}

.button-set{
    position: absolute;
    right: 20px;
}

.delete-account{
    border: none;
    padding-left: 20px;
    background: #F8F8FF url(../img/delete.svg) center left 5px no-repeat;
    font-size: 13px;
    height: 30px;
    width: 150px;
    font-weight: 600;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.9);
    margin-right: 5px;
}

.account-logout{
    border: none;
    background: #FFFF73;
    font-size: 13px;
    height: 30px;
    font-weight: 600;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.9);
}

.account-descr{
    border-bottom: 1px solid rgba(64,64,64, 0.7);
    font-weight: 400;
    font-size: 10px;
    color: rgb(0, 0, 0);
    padding-left: 20px;
}

.warning-window{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.delete-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 150px;
    background: white;
    border-radius: 5px;
}

.delete-title{
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}

.confirm-buttons{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yes-button,
.no-button{
    border: none;
    font-weight: 600;
    font-size: 13px;
    height: 30px;
    font-weight: 600;
    border-radius: 5px;
    width: 40px;
    text-align: center;
}

.yes-button{
    background: #53DF00;
}

.no-button{
    margin-left: 20px;
    background: #FF1300;
}